table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.hidden {
    display: none;
}
button {
    background-color: lightblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: deepskyblue;
    transition: all 0.3s ease;
}